<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MonTrack</title>
    <link rel="stylesheet" href="../static/styles3.css">
</head>

<body>
    <header>
        <nav>
            <div class="container">
                <h1>MonTrack</h1>
                <ul>
                    <li><button class="button"><a href="/login">Login</a></button></li>
                    <li><button class="button"><a href="/signup">Sign Up</a></button></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="hero">
        <div class="container">
            <h2>Track Your Finances, Reach Your Goals</h2>
            <p>Manage your expenses, analyze your spending patterns, and achieve your financial targets with our
                easy-to-use personal budget tracker.</p>
            <a href="signup.html" class="cta-button">Get Started</a>
        </div>
    </section>

    <section class="features">
        <div class="container">
            <h2>Key Features</h2>
            <div class="feature">
                <h3>Expense Tracking</h3>
                <p>Record your daily expenses and categorize them for better financial insights.</p>
            </div>
            <div class="feature">
                <h3>Budget Analysis</h3>
                <p>Analyze your spending habits with intuitive charts and graphs to stay on budget.</p>
            </div>
            <div class="feature">
                <h3>Goal Setting</h3>
                <p>Set financial goals and track your progress to achieve financial freedom.</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2023 MonTrack. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>