<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', path='styles2.css') }}">
</head>
<body>
  <nav>
   <div class="navbar">

      <div class="navbar-title">{{result}}'s DashBoard</div>

      <button class="navbar-button logout" ><a href="/logout">Logout</a></button>
    </div>
  </nav>

  <div class="container">
    <div class="section1">
    <div class="balance-info">
      <p><h2>Total Balance: &#x20B9;{{balance}}</h2></p>
      <p><h2>Money Spent Today: &#x20B9;{{dailyspent}}</h2></p>
    </div>

    <div class="buttons">
      <button id="add-funds-btn">Add Funds</button><br>
      <button id="add-expense-btn">Add Expense</button>
    </div>

     <div class="popup-form" id ="add-funds-form">
      <form action="/add_fund" method="post">
        <label for="amount">Amount:</label>
        <input name="amount" type="text" id="amount" placeholder="Enter amount">
        <label for="category1">Category:</label>
        <select name="category" id="category1">
          <option name="salary" value="salary">Salary</option>
          <option name="deposits" value="deposits">Deposits</option>
        </select>
         <br><br>
        <button type="submit" id="add-funds-submit">Submit</button>
      </form>
    </div>
    <div class="popup-form" id="add-expense-form">
      <form action="/add_expense" method="post">
        <label for="expense-amount">Amount:</label>
        <input name="amount" type="text" id="expense-amount" placeholder="Enter amount">
        <label for="description">Description</label>
        <input name="description" type="text" id="description" placeholder="Description">
        <label for="category">Category:</label>
        <select name="category" id="category">
          <option value="food">Food</option>
          <option value="transportation">Transportation</option>
          <option value="toiletries">Toiletries</option>
          <option value="gifts">Gifts</option>
          <option value="bills">Bills</option>
          <option value="others">Other</option>
        </select>
        <button type="submit" id="add-expense-submit">Submit</button>
      </form>
    </div>
        <div class="separator"></div>
    <h2>Last Four Transactions:</h2>
      <ul class="transaction-list">
          {% for transaction in transactions %}
              <li>
                <div class="transaction-details">
                    <span class="transaction-title">{{ transaction[4] }}</span>
                    <span class="transaction-date">{{ transaction[5] }}</span>
                </div>
                {%if transaction[2] in [1,2]%}
                <span class="transaction-amount transaction-credited">+&#x20B9;{{ transaction[3] }}</span>
                {%else%}
                <span class="transaction-amount transaction-debited">-&#x20B9;{{ transaction[3] }}</span>
                {%endif%}
              </li>
          {% endfor %}
      </ul>
  </div>
    <div class="section2">
        <h2>Expenses by Category</h2>
        <canvas id="expensesChart" width="400" height="400"></canvas>
    </div>
    <div class="section full-width" >
      <h2>Expenses and Income</h2>
      <canvas id="lineDoubleBarChart" width="800" height="300"></canvas>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    // Get the canvas elements
    var expensesChartCanvas = document.getElementById('expensesChart');
    var label = {{labels | tojson | safe}};
    var data = {{data | tojson | safe}};

    // Create the doughnut chart
    new Chart(expensesChartCanvas, {
      type: 'doughnut',
      data: {
        labels: label,
        datasets: [{
          data: data,
          backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF'],
        }]
      },
      options: {
        responsive: true,
        legend: {
          display: true,
          position: 'bottom',
        },
      }
    });

    // Create the line double bar chart
    const chartCanvas = document.getElementById('lineDoubleBarChart');

  // Create the line double bar chart
  new Chart(chartCanvas, {
    type: 'bar',
    data: {
      labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September','October','November','December'],
      datasets: [
        {
          label: 'Expenses',
          data: [500, 600, 400, 700, 550, 800],
          backgroundColor: 'rgba(255, 99, 132, 0.5)',
          borderColor: 'rgba(255, 99, 132, 1)',
          borderWidth: 1
        },
        {
          label: 'Income',
          data: [1000, 1200, 900, 1100, 950, 1300],
          backgroundColor: 'rgba(54, 162, 235, 0.5)',
          borderColor: 'rgba(54, 162, 235, 1)',
          borderWidth: 1
        },
      ]
    },
    options: {
      responsive: true,
      scales: {
        xAxes: [{
          gridLines: {
            display: false // Hide the x-axis grid lines
          }
        }],
        yAxes: [{
          gridLines: {
            drawBorder: false, // Hide the y-axis grid lines
            display: false // Hide the y-axis grid lines
          },
          ticks: {
            beginAtZero: true
          }
        }]
      },
      legend: {
        display: true,
        position: 'bottom',
      },
    }
  });

   const transactionDateElements = document.querySelectorAll('.transaction-date');

  transactionDateElements.forEach((element) => {
    const transactionDate = new Date(element.textContent);
    const formattedDate = transactionDate.toLocaleString('en-US', {
      weekday: 'short',
      day: '2-digit',
      month: 'short',
      hour: 'numeric',
      minute: 'numeric',
      hour12: true,
    });

    element.textContent = formattedDate;
  });

  const addFundsBtn = document.getElementById("add-funds-btn");
  const addFundsForm = document.getElementById("add-funds-form");
  const addFundsSubmitBtn = document.getElementById("add-funds-submit");

  addFundsBtn.addEventListener("click", function() {
    addFundsForm.style.display = "block";
  });

  addFundsSubmitBtn.addEventListener("click", function() {
    addFundsForm.style.display = "none";
  });

  const addExpenseBtn = document.getElementById("add-expense-btn");
  const addExpenseForm = document.getElementById("add-expense-form");
  const addExpenseSubmitBtn = document.getElementById("add-expense-submit");

  addExpenseBtn.addEventListener("click", function() {
    addExpenseForm.style.display = "block";
  });

  addExpenseSubmitBtn.addEventListener("click", function() {
    addExpenseForm.style.display = "none";
  });
  </script>
</body>
</html>