<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>MonTrack Registration</title>
</head>
<body>
    <div class="registration-container">
        <h2>Create an Account</h2>
        <form action="/registerform" id="registrationForm" method="post">
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-group">
                <label for="confirm_Password">Confirm Password:</label>
                <input type="password" id="confirm_Password" name="confirm_password" required>
            </div>
            <button type="submit">Register</button>
            <p>Already have an account? <a href="/login">Login</a></p>
        </form>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}

    </div>
</body>
</html>

