<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', path='transtyle.css') }}">

</head>
<body>
    <div class="wrapper rounded">
        <nav class="navbar navbar-expand-lg navbar-dark dark d-lg-flex align-items-lg-start">
            <a href="../dashboard/{{result}}" class="navbar-brand">
                <span class="fa fa-arrow-left"></span>
            <a class="navbar-brand" href="#">
                Transactions
                <p class="text-muted pl-1">Welcome to your transactions</p>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fa fa-bell-o font-weight-bold"></span>
                            <span class="notify">Notifications</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="#">
                            <span class="fa fa-search"></span>
                        </a>
                        <input type="search" class="dark" placeholder="Search">
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row mt-2 pt-2">
            <div class="col-md-6" id="income">
                <div class="d-flex justify-content-start align-items-center">
                    <p class="fa fa-long-arrow-down"></p>
                    <p class="text mx-3">Income</p>
                    <p class="text-white ml-4 money">&#x20B9;{{ balance }}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-md-end align-items-center">
                    <div class="fa fa-long-arrow-up"></div>
                    <div class="text mx-3">Expense</div>
                    <div class="text-white ml-4 money">&#x20B9;{{ dailyspent }}</div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <ul class="nav nav-tabs w-75">
                <li class="nav-item">
                    <a class="nav-link active" href="#history">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Reports</a>
                </li>
            </ul>
            <button class="btn btn-primary" data-toggle="modal" data-target="#addTransactionModal">New Transaction</button>
        </div>
        <div class="table-responsive mt-3">
            <table class="table table-dark table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Activity</th>
                        <th scope="col">Category</th>
                        <th scope="col">Date</th>
                        <th scope="col" class="text-right">Amount</th>
                    </tr>
                </thead>
            <tbody>
                {% for transaction in transactions %}
                      <tr class="transaction-row" data-toggle="modal" data-target="#transactionModal" data-transaction-id="{{ transaction[0] }}">
{#                        <div class="transaction-details">#}
                           <td>
                            <span class="fa fa-briefcase mr-1"></span>{{ transaction[4] }}
                           </td>
                            <td>
                             {{ category_names.get(transaction[2])}}
                            </td>
                          <td><span class="transaction-date">{{ transaction[5] }}</span></td>
{#                        </div>#}
                      <td class="d-flex justify-content-end align-items-center">
{#                        <span class="fa fa-long-arrow-up mr-1"></span>{{ transaction[3] }}#}
                        {% if transaction[2] in [1,2] %}
                          <span class="fa fa-long-arrow-down mr-1"></span>&#x20B9;{{transaction[3] }}
                        {% else %}
                          <span class="fa fa-long-arrow-up mr-1"></span>&#x20B9;{{ transaction[3] }}
                        {% endif %}
                    </td>
{#                        {% if transaction[2] in [1,2] %}#}
{#                          <span class="transaction-amount transaction-credited">+&#x20B9;{{ transaction[3] }}</span>#}
{#                        {% else %}#}
{#                          <span class="transaction-amount transaction-debited">-&#x20B9;{{ transaction[3] }}</span>#}
{#                        {% endif %}#}
                      </tr>
                {% endfor %}
{#                <tr>#}
{#                    <td scope="row">#}
{#                        <span class="fa fa-briefcase mr-1"></span> Coorg Trip#}
{#                    </td>#}
{#                    <td><span class="fa fa-cc-mastercard"></span></td>#}
{#                    <td class="text-muted">12 Jul 2020, 12:30 PM</td>#}
{#                    <td class="d-flex justify-content-end align-items-center">#}
{#                        <span class="fa fa-long-arrow-up mr-1"></span> $52.9#}
{#                    </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td scope="row">#}
{#                        <span class="fa fa-bed mr-1"></span> Hotel Leela Palace#}
{#                    </td>#}
{#                    <td><span class="fa fa-cc-mastercard"></span></td>#}
{#                    <td class="text-muted">11 Jul 2020, 2:00 PM</td>#}
{#                    <td class="d-flex justify-content-end align-items-center">#}
{#                        <span class="fa fa-long-arrow-up mr-1"></span> $18.9#}
{#                    </td>#}
{#                </tr>#}
{#    <!-- Add more rows as needed -->#}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-between align-items-center results">
            <span class="pl-md-3">Showing<b class="text-white"> 1-7 0f 200 </b> trasactions</span>
            <div class="pt-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="modal fade dark-mode" id="addTransactionModal" tabindex="-1" role="dialog" aria-labelledby="addTransactionModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addTransactionModalLabel">Add New Transaction</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="addTransactionForm">
              <div class="form-group">
                <label for="transactionName">Name:</label>
                <input type="text" class="form-control" id="transactionName" name="transactionName" required>
                <label for="transactionAmount">Amount:</label>
                <input type="number" class="form-control" id="transactionAmount" name="transactionAmount" required>
                <label for="transactionCategory">Category:</label>
                <select class="form-control" id="transactionCategory" name="transactionCategory">
                  <option value="food">Food</option>
                  <option value="transportation">Transportation</option>
                  <option value="toiletries">Toiletries</option>
                  <option value="gifts">Gifts</option>
                  <option value="bills">Bills</option>
                  <option value="others">Other</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="addTransactionButton">Add Transaction</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade dark-mode" id="transactionModal" tabindex="-1" role="dialog" aria-labelledby="transactionModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="transactionModalLabel">Choose an option</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <button type="button" class="btn btn-primary" id="option1">Update</button>
            <button class="btn btn-secondary" id="deletebtn">Delete</button>
          </div>
        </div>
      </div>
    </div>



    <div class="modal fade dark-mode" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="firstModalLabel">Update Transaction</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- First Modal Form -->
                    <form id="firstModalForm">
                        <div class="form-group">
                            <label for="transactionName">Name:</label>
                            <input type="text" class="form-control" id="transactionName" name="transactionName" required>
                            <label for="transactionAmount">Amount:</label>
                            <input type="number" class="form-control" id="transactionAmount" name="transactionAmount" required>
                            <label for="transactionCategory">Category:</label>
                            <select class="form-control" id="transactionCategory" name="transactionCategory">
                              <option value="food">Food</option>
                              <option value="transportation">Transportation</option>
                              <option value="toiletries">Toiletries</option>
                              <option value="gifts">Gifts</option>
                              <option value="bills">Bills</option>
                              <option value="others">Other</option>
                            </select>
                          </div>
                        <!-- Add more form fields as needed -->

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="submitFirstModal">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Modal -->
{#    <div class="modal fade dark-mode" id="secondModal" tabindex="-1" role="dialog" aria-labelledby="secondModalLabel" aria-hidden="true">#}
{#        <div class="modal-dialog" role="document">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <h5 class="modal-title" id="secondModalLabel">Second Modal</h5>#}
{#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                        <span aria-hidden="true">&times;</span>#}
{#                    </button>#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                    <!-- Second Modal Form -->#}
{#                    <form id="secondModalForm">#}
{#                        <div class="form-group">#}
{#                            <label for="input2">Input 2:</label>#}
{#                            <input type="text" class="form-control" id="input2" name="input2" required>#}
{#                        </div>#}
{#                        <!-- Add more form fields as needed -->#}
{#                    </form>#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#                    <button type="button" class="btn btn-primary" id="submitSecondModal">Submit</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function() {
            // Handle form submission
            $('#addTransactionForm').submit(function(event) {
                event.preventDefault(); // Prevent the form from submitting normally
                // Get form data
                var formData = $(this).serialize();
                // Submit form data via AJAX
                $.ajax({
                    url: '/submit-transaction',
                    type: 'POST',
                    data: formData,
                    success: function(response) {
                        // Handle successful response
                        console.log('Transaction added successfully');
                        // Close the modal
                        $('#addTransactionModal').modal('hide');
                        // Optionally, update the transactions table or perform any other actions
                    },
                    error: function(xhr, status, error) {
                        // Handle errors
                        console.error('Error adding transaction:', error);
                        // Optionally, display an error message to the user
                    }
                });
            });

            // Handle option button clicks

            var transactionId = null;
            // Handle click on table row
            $('.transaction-row').click(function(event) {
                transactionId = $(this).data('transaction-id');

            });

            $('#option1').click(function(event) {
                $('#firstModal').modal('show')
                $('#transactionModal').modal('hide')
            });

            $('#option2').click(function(event) {
                $('#secondModal').modal('show')
                $('#transactionModal').modal('hide')
            });

            $('#submitFirstModal').click(function(event) {
                console.log('Transaction ID:', transactionId);
                var formData = $('#firstModalForm').serialize() + '&transactionId=' + transactionId;
                $.ajax({
                    url: '/updatetransaction',
                    type: 'POST',
                    data: formData,
                    success: function(response) {
                        console.log('First modal submitted successfully');
                        $('#firstModal').modal('hide');
                    },
                    error: function(xhr, status, error) {
                        console.error('Error submitting first modal:', error);
                    }
                });
                console.log('Form data:', formData);
                $('#firstModal').modal('hide')
            });

            $('#deletebtn').click(function (event){
                console.log('Transaction ID:', transactionId);
                var formData = 'transactionId=' + transactionId;
                $.ajax({
                    url: '/deletetransaction',
                    type: 'POST',
                    data: formData,
                    success: function(response) {
                        console.log('Transaction deleted successfully');
                        $('#transactionModal').modal('hide');
                    },
                    error: function(xhr, status, error) {
                        console.error('Error deleting transaction:', error);
                    }
                });
                console.log('Form data:', formData);
                $('#transactionModal').modal('hide')
            });

            // Format transaction dates
            const transactionDateElements = document.querySelectorAll('.transaction-date');
            transactionDateElements.forEach((element) => {
                const transactionDate = new Date(element.textContent);
                element.textContent = transactionDate.toLocaleString('en-US', {
                    weekday: 'short',
                    day: '2-digit',
                    month: 'short',
                    hour: 'numeric',
                    minute: 'numeric',
                    hour12: true,
                });
            });
        });
    </script>

</body>
</html>
